<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--通过属性配置文件，设置数据库信息（驱动、地址、账号、密码）-->
    <properties resource="db.properties"/>


    <!--设置与数据库交互的环境（开启二级缓存、开启延迟加载等）-->
<!--    <settings>
        <setting name="" value=""/>
    </settings>-->


    <!--为mapper映射文件中的domain起别名-->
    <typeAliases>
        <package name="com.study.domain"/>
    </typeAliases>



    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--在主配置文件中配置Mapper映射文件（每个实体类对应一个）-->
    <mappers>
       <mapper resource="com/study/dao/ProvinceDao.xml"/>
    </mappers>

</configuration>